<div id="sidebar" class="sidebar">
  <div class="cog">+</div>
  <a href="/" class="logo"><span>Total Seminars Video</span></a>
  <% if @user %>
  <div class="user_box dark_box clearfix">
    <img src="/images/interface/profile.jpg" width="55" alt="Profile Pic" />
    <h2><%= @user.login -%></h2>
    <ul>
      <li><a href="/logout" class="dialog_button" data-dialog="dialog_logout">Logout</a></li>
    </ul>
  </div><!-- #user_box -->
  <% else %>
  <div class="user_box dark_box clearfix">
    <a href="/user_sessions/new" class="sign-in">Sign In</a>
  </div><!-- #user_box -->
  <% end %>
  
  <!-- <div id="search_side" class="dark_box"><form><input class="" type="text" placeholder="Search Videos..."></form></div> -->
  
  <ul id="side_links" class="side_links" style="margin-bottom:0;">
    <li><a href="/" id="account">My Account</a></li>
    <li><a href="http://www.totalsem.com/videos">Exit to Video Training</a></li>
    <li><a href="http://www.totalsem.com">Exit to Totalsem.com</a></li>
  </ul>
</div><!-- #sidebar -->
