<div id="sidebar" class="sidebar pjax_links">
  <div class="cog">+</div>

  <a href="index.php" class="logo"><span>Total Seminars Video</span></a>

  <div class="user_box dark_box clearfix">
    <img src="/images/interface/profile.jpg" width="55" alt="Profile Pic" />
    <h2>Administrator</h2>
    <h3><a href="#">Student</a></h3>
    <ul>
      <li><a href="#">settings</a><span class="divider">|</span></li>
      <li><a href="login_slide.php" class="dialog_button" data-dialog="dialog_logout">Logout</a></li>
    </ul>
  </div><!-- #user_box -->
  
  <div id="search_side" class="dark_box"><form><input class="" type="text" placeholder="Search Videos..."></form></div>
  
  <ul id="side_links" class="side_links" style="margin-bottom:0;">
    <li><a href="#">Support Forum</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
  </ul>
</div><!-- #sidebar -->
