<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Total Seminars Video Hub!</h1>
    <p>You have successfully signed up to Total Seminars Video Hub, 
your username is <%= @email %>.<br/> </p>
    <p>Your password is <%= @temp_password -%></p>
  </body>
</html>
