<div id="pjax">

  <div id="wrapper" data-adminica-nav-top="1" data-adminica-side-top="1">
    <%= render "components/topbar" %>
    <%= render "components/sidebar" %>
    <%= render "components/stackbar" %>
  </div>


  <div id="main_container" class="main_container container_16 clearfix">
    <%= render "components/navigation" %>
    <p>Hello Users</p>
  </div>

</div>
