<% content_for :head do %>
<%= javascript_include_tag params[:controller] %> 
<%= stylesheet_link_tag params[:controller] %>
<% end %>

<div id="pjax">
  <div id="wrapper" data-adminica-nav-top="1" data-adminica-side-top="1">
    <%= render "components/sidebar" %>
    
    <div id="main_container" class="main_container container_16 clearfix">
      <%= render "components/navigation" %>
      <div class="box grid_16 welcome-page">
	<h1 class="title">Welcome to the Total Seminars Video Hub!</h1>
	<!--<a href="#" class="sign-in">Sign In</a>-->
	<img class="welcome-banner" />
	<h3 class="available-series">Available Courses</h3>
	<ul class="course-info">
	  <li class="course-info">
	    <img class="course-info" />
	    <h3 class="course-info">CompTIA A+ 220-801/220-802 <span class="italic">featuring Mike Meyers</span></h3>
	    <p class="course-info">Filmed in an episodic format designed to optimize your learning experience, the new Mike Meyers CompTIA A+ video will fascinate and engage you. With substantive technical content and laugh-out-loud segments, this video series takes you on a great ride as you prepare for the soon-to-be released CompTIA A+ certification exams 220-801 and 220-802.</p><p>Over 20 hours across 218 episodes!</p>
	    <a class="course-info" href="http://dev.totalsem.com/store/mike-meyers-a-video-series/">Buy now!</a>
		<a class="course-info" href="http://totalsemvideos.herokuapp.com/video/1">Try the demo!</a>
	  </li>
	  <li class="course-info">
	    <img class="course-info" />
	    <h3 class="course-info">CompTIA Network+ N10-005 <span class="italic">featuring Mike Meyers</span></h3>
	    <p class="course-info">ilmed in an episodic format designed to optimize your learning experience, the new Mike Meyers CompTIA Network+ video will fascinate and engage you. With substantive technical content and laugh-out-loud segments, this video takes you on a great ride as you prepare for the CompTIA Network+ certification!</p>
	    <a class="course-info" href="#">Coming Soon</a>
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>
