		<%= render "dialogs/dialog_register" %>
    <%= render "dialogs/dialog_delete" %>
		<%= render "dialogs/dialog_logout" %>
		<div id="loading_overlay">
			<div class="loading_message round_bottom">
				<img src="images/interface/loading.gif" alt="loading" />
			</div>
		</div>

		</div>
	</body>
</html>
