/* ...
 *= require adminica/reset.css
 *= require plugins/all/plugins.css
 *= require adminica/text.css
 *= require adminica/grid.css
 *= require adminica/main.css
 *= require adminica/mobile.css
 *= require adminica/base.css
 *= require adminica/ie.css
 *= require themes/switcher.css
 *= require themes/theme_red.css
 *= require themes/bg_wood.css
 *= require adminica/colours.css
 *= require themes/layout_fixed.css
 *= require_self
 *= require_tree .
 */
