// Place all the styles related to the Video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.episode_list {
  display:none;
}

.video-panel {
  margin-left: auto;
  margin-right: auto;
}

.episode_list li img {
  margin-top: 4px;
  float: right;
}