// Place all the styles related to the Video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.episode_list {
  display:none;
}

.video-panel {
  margin-left: auto;
  margin-right: auto;
}

.episode_list li img {
  margin-top:2px;
  margin-left: 10px;
  float: right;
}

.episode_list li .duration {
  position: absolute;
  right: 50px;
}

#episode-description {
  width: 765px;
  margin-left:0px;
}
    

#chapters {
  margin-left: 0px;
}

#tsem-video-overlay {
  display:none;
}

.notfree {
  color:red;
}

.notfree a {
  color:#AAAAAA;
}

.notfree.video-panel {
  width:768px;
  height:432px;
}

.notfree.video-panel h2 {
  text-align: center;
  margin-top: 100px;
  margin-left: 0px;
}

.notfree.video-panel a {
  font-size: 1.5em;
  font-style:normal;
  color: white;
  text-align: center;
  font-size: 1.2em;
}