// Place all the styles related to the Video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.episode_list {
  display:none;
}

.video-panel {
  margin-left: auto;
  margin-right: auto;
}

.episode_list li img {
  margin-top:2px;
  margin-left: 10px;
  float: right;
}

.episode_list li .duration {
  position: absolute;
  right: 50px;
}

#episode-description {
  width: 765px;
  margin-left:0px;
}
    

#chapters {
  margin-left: 0px;
}

